{% extends 'page/checkout/thankyou.html.twig' %}

{% block checkout_thankyou_info %}
  {{ parent() }}
  {{ order.initSovendusData(basket) }}
  {% if order.active %}
    <div id="sovendus-container"></div>
    <script>
        let isActive = false;
        let trafficSourceNumber = "";
        let trafficMediumNumber = "";
        const multiLangCountries = ["CH", "BE"]
        if (multiLangCountries.includes("{{ order.consumerCountry }}")) {
            const lang = document.documentElement.lang.split("-")[0];
            isActive = JSON.parse('{{ order.enabled }}'.replace(/&quot;/g, '"'))[lang];
            trafficSourceNumber = JSON.parse('{{ order.trafficSourceNumber }}'.replace(/&quot;/g, '"'))[lang];
            trafficMediumNumber = JSON.parse('{{ order.trafficMediumNumber }}'.replace(/&quot;/g, '"'))[lang];
        } else {
            trafficSourceNumber = '{{ order.trafficSourceNumber }}'.replace(/&quot;/g, '');
            trafficMediumNumber = '{{ order.trafficMediumNumber }}'.replace(/&quot;/g, '');
            isActive = true;
        }
        if (isActive && Number(trafficSourceNumber) > 0 && Number(trafficMediumNumber) > 0) {
            window.sovIframes = window.sovIframes || [];
            window.sovIframes.push({
                trafficSourceNumber: trafficSourceNumber,
                trafficMediumNumber: trafficMediumNumber,
                iframeContainerId: 'sovendus-container',
                timestamp: '{{ order.timestamp }}',
                sessionId: '{{ order.oxorder__oxid.value }}',
                orderId: '{{ order.oxorder__oxordernr.value }}',
                orderValue: '{{ order.oxorder__oxtotalnetsum.rawValue }}',
                orderCurrency: '{{ order.oxorder__oxcurrency.rawValue }}',
                usedCouponCode: '{{ order.usedCouponCode }}',
                integrationType: "oxid-1.2.0"
            });
            window.sovConsumer = {
                consumerSalutation: '{{ order.consumerSalutation }}',
                consumerFirstName: '{{ order.oxorder__oxbillfname.rawValue }}',
                consumerLastName: '{{ order.oxorder__oxbillfname.rawValue }}',
                consumerEmail: '{{ order.oxorder__oxbillemail.rawValue }}',
                consumerPhone: '{{ order.oxorder__oxbillfon.rawValue }}',
                consumerYearOfBirth: '{{ order.consumerYearOfBirth }}',
                consumerStreet: '{{ order.oxorder__oxbillstreet.rawValue }}',
                consumerStreetNumber: '{{ order.oxorder__oxbillstreetnr.rawValue }}',
                consumerZipcode: '{{ order.oxorder__oxbillzip.rawValue }}',
                consumerCity: '{{ order.oxorder__oxbillcity.rawValue }}',
                consumerCountry: '{{ order.consumerCountry }}'
            };
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.async = true;
            script.src = window.location.protocol + "//api.sovendus.com/sovabo/common/js/flexibleIframe.js";
            script.setAttribute('data-usercentrics', 'Sovendus');
            document.body.appendChild(script);
        }
    </script>
  {% endif %}
{% endblock %}
